VBox#mainBox {
    -fx-padding: 15px;
}

VBox#calculateBox {
    -fx-padding: 15px 0;
}

VBox#loadBox {
    -fx-padding: 0 20px;
}

Text.typeString {
    -fx-font-weight: 100;
    -fx-stroke: grey;
}

Text {
    -fx-padding: 0 0 10px 0;
    -fx-font-size: 20px;
}

Label {
    -fx-padding: 10px 0 5px 0;
}

Text#notice {
    -fx-font-size: 16px;
}

Text.successNotice {
    -fx-stroke: #008000;
}

Text.failNotice {
    -fx-stroke: #ff0000;
}
